.btn_wrapper{
    margin-top: 20px;
}

 .btn_wrapper button{
    display: flex;
    align-items:center;
    justify-content:center;
    outline:none;
    border:none;
    border-radius:15px;
    padding:5px 15px;
    background: rgb(12, 31, 139);
    color:#FFF;
    cursor: pointer;
    transition:all .3s ease-in-out;
}
.btn_wrapper button span{
    font-size:18px;
    font-weight:500;
}
.btn_wrapper button img{
    margin-left:10px;
}
.btn_wrapper button:hover{
    background:rgb(4, 19, 102)
}
