nav{
    background:#101820FF;
}

.navigation{
    padding: 15px 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 6rem;
    justify-content: space-between;
}
.navigation a h1{
    font-size: 2rem;
    font-weight: bold;
}
.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  margin-right: 1rem;
}
.logo h1 {
  background: linear-gradient(270deg, #cdcdcd, transparent);
  color: #FFF;
  padding: 0 0.3rem;
  transition: all 1s ease-in-out;
}
.logo h1:hover {
  background: linear-gradient(90deg, #cdcdcd, transparent);
}
.userInfo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.userName{
  color: #FFF;
  font-size: 20px;
  margin-right: 15px;
  font-style: italic;
}
.avatar{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border: 2px solid blue;
  border-radius: 50%;
  margin-right: 15px;
}
.logoutBtn{
  outline: none;
  border: none;
  background-color:orange;
  padding: 3px 5px;
  color:black;
  cursor: pointer;
  border-radius: 3px;
}
.userInfo h4{
  color: blue;
  cursor: pointer;
}


