.para {
  width: 80%;
  color: #cdcdcd;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-style: italic;
}
.avatar_wrapper label {
  color: #5b84b1ff;
  margin-top: 10px;
  cursor:pointer;
}
.avatar_wrapper {
  margin-top: 5rem;
}
.img_wrapper{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border:5px solid #cdcdcd;
    margin-top:10px;
    overflow: hidden;
    padding: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.img_wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.avatar_wrapper input{
    display: none;
}
